@import "./vars";
@import "./functions";

body {
  @include default;
  background-color: #343a40;
}

header {
  h1 {
    color: $red;
    margin-left: 10px;
  }
  font-size: 18px;
  background-color: #343a40;
  .container {
    @include flex-center();
    justify-content: space-between;
  }
  li {
    display: inline;
    list-style-type: none;
    padding-left: 8px;
  }
}

nav {
  margin-right: 10px;
  a {
    color: $grey;
    padding: 14px 10px;
    &:link {
      text-decoration: none;
    }
    &:hover {
      color: $black;
    }
  }
}

.people {
  img {
    width: 100%;
    object-fit: cover;
    object-position: top left;
    height: 480px;
    left: 0px;
    top: 82px;
  }
  hr {
    height: 20px;
    color: $red;
    background-color: $red;
    position: relative;
    bottom: 20px;
    border: none;
  }
  .cards {
  }
}
